<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>Товарищ админ</title>
        <link rel="stylesheet" href="https://bootstraptema.ru/snippets/style/2015/bootswatch/bootstrap-superhero-v3.3.6.css" media="screen">
        <link rel="stylesheet" href="https://bootstraptema.ru/snippets/style/2015/bootswatch/custom.min.css">


    </head>
    <body>
        <div class="community-header-wrapper" style="position: relative;">
            <header class="fandom-community-header">
                <div class="fandom-community-header__community-name-wrapper">
                    <a href="" class="fandom-community-header__community-name" data-test="fandom-community-header-community-name">Товарищ админ</a>
                </div>
            </header>
        </div>
        <div class="main-container">
            <div class="resizable-container">
                <div class="page">
                    <main class="page__main">
                        <div class="page-header">
                            <div class="page-header__bottom">
                                <div class="page-header__title-wrapper">
                                    <h1 class="page-header__title" id="firstHeading">Документация по командам</h1>
                                    <div id="content" class="page-content ve-init-mw-desktopArticleTarget-targetContainer">
                                        <div id="mw-content-text" class="mw-body-content mw-content-ltr" dir="ltr">
                                            <h1>Команды</h1>
                                            <p>Все команды начинаются со знака "!" (без кавычек), команды могут использовать только админы беседы (относительно бота), всех кроме админов бот игнорирует. После "!" идет команда без пробелов.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </div>
    </body>
</html>